<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
  <main class="h-100 w-100 lato fw-700">
    <div class="w-100 p-banner d-flx">
      <div class="p-picture d-flx flx-c-c">
        <img src="<%= profile.avatar %> " alt="" class="h-100 w-100" style="border-radius: 50%;">
      </div>
      <div class="fw-700 p-welcome">
        Edit 
      </div>
    </div>
    <div class="d-flx w-100 lato fw-700 p-info" style="height: 7.5em;">
      <div class="p-username d-flx flx-c-s flx-c" style="" id="edit">
        <div>
          <form action="/profiles/<%= profile.id %>?_method=PATCH" method="POST">
            <% if (profile.username) { %>
              <label 
                for="username-input" 
                style="
                  font-size: .5em; 
                  color: #b18958; 
              ">
                edit
              </label>
              <br>
              <input type="text" value="<%= profile.username %>" name="username" required>
            <% } else { %>  
              <label 
                for="username-input" 
                style="
                  font-size: .5em; 
                  color: #b18958; 
              ">
                edit
              </label>
              <br>
              <input type="text" value="@<%= profile.name %>" name="username" required>
            <% } %>
          <br>  
        </div>
      </div>
      <div class="p-button-container d-flx flx-c-c" style="flex-wrap: wrap;">
        <% if (isSelf) { %>
          <button type="submit" class="d-flx flx-c-c p-save-btn">
            <div class="p-buttons" style="flex-shrink: 0;">Save Changes</div> 
          </button>
        </form> <%# FORM END %> 
          <% } %>
          <div>
            <a href="/profiles/<%= profile._id %>">
              <button type="submit" class="d-flx flx-c-c p-return-btn">
                <span class="p-buttons" style="flex-shrink: 0;">Return to Profile</span>
              </button>
            </a>
          </div>
        </form>
      </div>
    </div>
    <div class="d-flx p-h-links w-100">
      <div id="orbit"> 
        <%# active %> 
        Orbit
      </div>
      <div id="reviews" style="color: rgba(255, 255, 255, 0.441);">
        <%# deactive %> 
        Reviews
      </div>
    </div>
    <div class="d-flx w-100 flx-c p-content">
      <%# if orbit active render this %> 
      <div class="p-orbit d-flx flx-c">
      </div>
    </div>
  </main>
<%- include('../partials/footer') %>