<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
  <main class="h-100 w-100 lato fw-700">
    <div class="w-100 p-banner d-flx">
      <div class="p-picture d-flx flx-c-c">
        <% if (user) { %>
          <% const nameToInitials = () => { %> 
            <% const name = user.profile.name.split(' ') %> 
            <% const initHolder = [] %> 
            <% name.forEach(word => { %> 
              <% initHolder.push(word.charAt(0))%> 
            <% }) %>
            <% return initHolder.join('') %>  
          <% } %>
          <span class="p-picture-text"><%= nameToInitials() %></span>  
        <% } %> 
      </div>
      <div class="fw-700 p-welcome">
        Welcome, 
      </div>
    </div>
    <div class="d-flx w-100 lato fw-700 p-info">
      <div class="p-username d-flx flx-c-c flx-c">
        <a href="/profiles/<%= profile._id %>">
          <%# profile.username %> 
          @Vanthur <br>
          <span class="fw-400 p-date">in orbit since 2022</span>
        </a>
      </div>
      <div class="p-button-container d-flx flx-c-c">
        <%# IF USER %> 
        <button type="submit" class="d-flx flx-c-c">
          <div class="p-buttons">Edit</div>
        </button>
        <%# IF GUEST  %> 
        <form action="POST">
          <div>
            <button type="submit" class="d-flx flx-c-c">
              <i class="fa-solid fa-plus fa-user-group p-buttons">+</i>
            </button>
          </div>
          <div></div>
        </form>
      </div>
    </div>
    <div class="d-flx p-h-links w-100">
      <div>Orbit</div>
      <div>Reviews</div>
    </div>
  </main>
<%- include('../partials/footer') %>