<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
  <main class="h-100 w-100 lato fw-700">
    <div class="w-100 p-banner d-flx">
      <div class="p-picture d-flx flx-c-c">
        <img src="<%= profile.avatar %> " alt="" class="h-100 w-100" style="border-radius: 50%;">
      </div>
      <div class="fw-700 p-welcome">
        Welcome, <br> <%= profile.name %>  
      </div>
    </div>
    <div class="d-flx w-100 lato fw-700 p-info">
      <div class="p-username d-flx flx-c-s flx-c">
        <a href="/profiles/<%= profile._id %>">
          <% if (profile.username) { %>
            @<%= profile.username %> 
          <% } else { %>  
            @<%= profile.name %> 
          <% } %>
          <br>  
          <span class="fw-400 p-date">in orbit since 2022</span>
        </a>
      </div>
      <div class="p-button-container d-flx flx-c-c">
        <% if (isSelf) { %>
          <a href="/profiles/<%= profile._id %>/edit">
            <button type="submit" class="d-flx flx-c-c">
              <div class="p-buttons">Edit</div>
            </button>
          </a>
        <% } %>
        <% if (!isSelf && !selfProfile.friends?.includes(profile._id)) { %>
          <form 
            action="/profiles/<%= profile.id %>/friend?_method=PATCH"
            method="POST"
          >
            <div>
              <button type="submit" class="d-flx flx-c-c">
                <div class="p-buttons" style="width: max-content;" id="add-friend">
                  Add Friend
                </div>
              </button>
            </div>
          </form>
        <% } %>
        <% if (!isSelf && selfProfile.friends?.includes(profile._id)) { %>
          <form 
            action="/profiles/<%= profile.id %>/unfriend?_method=PATCH" 
            method="POST"
          >
            <div>
              <button type="submit" class="d-flx flx-c-c">
                <div class="p-buttons" style="width: max-content;" id="remove-friend">
                  Remove Friend
                </div>
              </button>
            </div>
          </form>
        <% } %> 
      </div>
    </div>
    <div class="d-flx p-h-links w-100">
      <div id="orbit"> 
        <%# active %> 
        Orbit
      </div>
      <div id="reviews" style="color: rgba(255, 255, 255, 0.441);">
        <%# deactive %> 
        
      </div>
    </div>
    <div class="d-flx w-100 flx-c p-content"> 
      <div class="p-orbit d-flx flx-c">
        <% games.forEach(game => { %>
          <div class="d-flx orbit-game">
            <div class="game-left d-flx flx-c">
              <div class="g-title">
                <%= game.title %> 
              </div>
              <div class="d-flx flx-c-c g-art-gen-container">
                <div class="d-flx flx-c-c g-art" style="overflow: hidden;">
                  <img src="<%= game.artwork %>" alt="" class="h-100"> 
                </div>
                <div class="d-flx g-gen">
                  <% game.genres.forEach(genre => { %>
                    <div class="genre-bubble d-flx"><%= genre %></div>
                  <% }) %> 
                </div>
              </div>
            </div>
            <div class="d-flx flx-c g-btn-description-container">
              <div class="d-flx flx-c">
                <div class="g-button d-flx">
                  <button class="d-flx flx-c-c g-btn" style="visibility: hidden;">Add to Orbit</button>
                  <a href="/games/<%= game.rawgId %>">
                    <button class="d-flx flx-c-c g-btn">See Game Page</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
  </main>
<%- include('../partials/footer') %>